/* chemicals.css */

/* Basic Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}


.home-button {
    text-decoration: none; /* Removes the underline */
    color: white;          /* Sets the text color to white */
    
    padding: 10px 20px;    /* Adds padding to make it look like a button */
    border-radius: 5px;    /* Rounds the corners */
    display: inline-block; /* Ensures proper spacing */
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background: linear-gradient(90deg, #FFCC00, rgba(0, 40, 85, 0.7));
    color: #000000;
}

.logo {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
   justify-content: center;
}
h1{
    margin: 0;
}

#welcome-user-name {
    margin: 0px 20px;
}

.logo img {
    height: 90px;
    WIDTH: 90px;
    margin-right: 10px;
}

.header-right a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}
.header-right {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 30px;
}


.dashboard-header {
    margin: 5px;
    color: white;
    margin: 0px 30px;
}

/* Chemicals Container Styles */
.chemicals-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 10px;
}

h2 {
    color: #003366;
    margin-bottom: 20px;
}

.chemicals-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.chemicals-table th,
.chemicals-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.chemicals-table th {
    background-color: #66b3ff;
    color: #003366;
    font-weight: bold;
}

.chemicals-table td {
    background-color: #ccf2ff;
}

.pagination {
    text-align: center;
}

.page-button {
    background-color: #003366;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 14px;
}

.page-button:hover {
    background-color: #002244;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 8px 0;
    margin-top: auto;
    font-size: 12px;
}
